:host {
  margin: 30px 0;
  .grid>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .titles{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 4px;
  }
  .label{
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0;
  }

  .annotate{
    margin-top: 30px;
  }
}
