<div *ngIf="logData && !logData.error">
  <a href="{{logData.native_data}}" *ngIf="logData.native_data !== false">native data</a>
  <br>
  <a href="{{logData.filename}}" *ngIf="logData.filename !== false">csv file</a>
  <div *ngIf="logData.updated">
    <div class="label">Updated: {{logData.updated}}</div>
    <!--<div class="grid">
      <div class="titles">
        <span>keyword</span>
        <span>volume</span>
        <span>country</span>
      </div>
      <div *ngFor="let updated of logData.updated; let i = index;">
        <span>{{updated.keyword}}</span>
        <span>{{updated.volume}}</span>
        <span>{{updated.country}}</span>
      </div>
    </div>-->
  </div>
  <div *ngIf="logData.new">
    <div class="label">New {{logData.new}}</div>
    <!--<div class="grid">
      <div class="titles">
        <span>keyword</span>
        <span>volume</span>
        <span>country</span>
      </div>
      <div *ngFor="let newrow of logData.new; let i = index;">
        <span>{{newrow.keyword}}</span>
        <span>{{newrow.volume}}</span>
        <span>{{newrow.country}}</span>
      </div>
    </div>-->
  </div>

  <!--<div class="annotate">..showed max 20 received</div>-->
</div>
<div *ngIf="logData && logData.error">
  <h3>Error</h3>
  <pre>{{logData.error}}</pre>
</div>
