:host {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1vh;
}

form {
  width: 100%;

  max-height: max-content;
  max-width: 700px;
  display: grid;
  grid-gap: 15px;
  div {
    display: grid;
    grid-gap: 5px;
  }

  .offset{
    //display: none;
  }

  label {
    color: rgba(0, 0, 0, 0.54);
  }

  input {
    padding: 7px 12px;
  }

  button {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: none;
    border-color: buttonface;
    transition: 0.5s;
    &:hover {
      background-color: #60a4ff;
    }
  }

  select{
    background: none;
    padding: 7px 12px;
    option{
      padding: 7px 12px;
    }
  }
}




