<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="table">DB Table</label>
    <select name="table" id="table" formControlName="table" [ngClass]="{ 'is-invalid': submitted && f.table.errors}">
      <option value="Download" selected>Download</option>
      <option value="Email">Email</option>
      <option value="Form">Form</option>
      <option value="Manual">Manual</option>
      <option value="Map">Map</option>
      <option value="Weather">Weather</option>
      <option value="ImageEditor">Image Editor</option>
      <option value="Pdf">Pdf</option>
      <option value="Recipe">Recipe</option>
      <option value="Speedtest">Speedtest</option>
      <option value="Converter">Converter</option>
      <option value="SendFiles">SendFiles</option>
      <option value="Language">Language</option>
      <option value="tmp">tmp(dev only)</option>
    </select>
  </div>
  <ng-select formControlName="country"
             [multiple]="false"
             placeholder="Select Country"
             [closeOnSelect]="true"
             [hideSelected]="true"
             [items]="countries"
             bindLabel="name"
             [ngClass]="{ 'is-invalid': submitted && f.NqMin.errors}"
  ></ng-select>
  <ui-switch formControlName="keywordMode" checkedLabel="phrase" uncheckedLabel="domain"></ui-switch>
  <div *ngIf="f.keywordMode.value">
    <label for="keyword">Phrase</label>
    <input type="text" formControlName="keyword" id="keyword" [ngClass]="{ 'is-invalid': submitted && !!f.keyword.errors}" >
  </div>
  <div *ngIf="!f.keywordMode.value">
    <label for="domain">Domain</label>
    <input type="text" formControlName="domain" id="domain" [ngClass]="{ 'is-invalid': submitted && !!f.domain.errors}" >
    <ui-switch formControlName="subdomainMode" checkedLabel="Only Specified Sub-domain" uncheckedLabel="All Levels"></ui-switch>

  </div>
  <div>
    <label for="NqMin">NqMin</label>
    <input type="number"  formControlName="NqMin" id="NqMin" min="0" [ngClass]="{ 'is-invalid': submitted && f.NqMin.errors }">
  </div>
  <div>
    <label for="NqMax">NqMax</label>
    <input type="number" formControlName="NqMax" id="NqMax" min="0" [ngClass]="{ 'is-invalid': submitted && f.NqMax.errors}">
  </div>
  <div>
    <label for="maxKeywords">Number of returned results</label>
    <input type="number"  formControlName="maxKeywords" id="maxKeywords" min="1" max="50000" [ngClass]="{ 'is-invalid': submitted && f.maxKeywords.errors }">
  </div>
  <div class="offset">
    <label for="offset">Offset</label>
    <input type="number"  formControlName="offset" id="offset" min="0"  [ngClass]="{ 'is-invalid': submitted && f.offset.errors }">
  </div>
  <ui-switch formControlName="constants" ></ui-switch>

  <div class="constants" *ngIf="f.constants.value">
    <div>
      <label for="wordMax">wordMax</label>
      <input type="number" formControlName="wordMax" id="wordMax" min="0" [ngClass]="{ 'is-invalid': submitted && f.wordMax.errors}">
    </div>
    <div>
      <label for="charMax">charMax</label>
      <input type="number" formControlName="charMax" id="charMax" min="0" [ngClass]="{ 'is-invalid': submitted && f.charMax.errors}">
    </div>
  </div>
  <button type="submit" >Run</button>
</form>
