<div class="app" [ngClass]="show_log?'log-show':''">
  <div class="header">
    <h1>
      SemRUSH collector
    </h1>
    <span class="status">{{status}}</span>
    <!--<div class="toggle_log" [ngClass]="show_log?'open':''" (click)="toggle_log()">
      &lt;!&ndash;<span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>&ndash;&gt;
      log
    </div>-->
  </div>
  <rush-form></rush-form>
  <app-logger></app-logger>
</div>
<!--<router-outlet></router-outlet>-->
