.app {
  display: grid;
  /*grid-template-rows: max-content max-content auto;
  @media screen and (max-height: 900px) {
    grid-template-rows: max-content auto;
  }*/
  grid-template-rows: max-content auto;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "header     logger" "rushForm   logger";

  /*  @media screen and (max-height: 900px) {
      grid-template-areas: "header     logger"
                           "rushForm   logger"
    ;
    }*/
  padding: 0 10px;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.toggle_log {
  display: none;
}

.header {
  position: relative;
  text-align: center;
  grid-area: header;

  .status {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

app-logger {
  grid-area: logger;
}

rush-form {
  grid-area: rushForm;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

@media screen and (max-height: 900px) {
  /*app-logger{
    display: none;
  }*/

  .app.log-show {
    app-logger {
      display: block;
    }
    rush-form {
      display: none;
    }
  }
  .toggle_log {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 40px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    &:before {
      content: '>';
      display: inline-block;
      margin: 5px;
      transition: 0.5s;
    }
    &.open:before {
      transform: rotate(180deg);
    }

    span {
      display: block;
      position: absolute;
      height: 6px;
      width: 50%;
      background: #d3531a;
      opacity: 1;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    span:nth-child(even) {
      left: 50%;
      border-radius: 0 6px 6px 0;
    }

    span:nth-child(odd) {
      left: 0;
      border-radius: 6px 0 0 6px;
    }
    span:nth-child(1), span:nth-child(2) {
      top: 0px;
    }
    span:nth-child(3), span:nth-child(4) {
      top: 12px;
    }
    span:nth-child(5), span:nth-child(6) {
      top: 24px;
    }

    &.open span:nth-child(1), &.open span:nth-child(6) {
      transform: rotate(45deg);
    }

    &.open span:nth-child(2), &.open span:nth-child(5) {
      transform: rotate(-45deg);
    }

    &.open span:nth-child(1) {
      left: 5px;
      top: 7px;
    }

    &.open span:nth-child(2) {
      left: calc(50% - 5px);
      top: 7px;
    }

    &.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    &.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    &.open span:nth-child(5) {
      left: 5px;
      top: 22px;
    }

    &.open span:nth-child(6) {
      left: calc(50% - 5px);
      top: 22px;
    }
  }
}

