/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
}

.ng-dirty.ng-invalid:not(form), .is-invalid  {
  box-shadow: 0 0 10px 1px rgba(240,39,39,0.5);
}

@import "~ngx-ui-switch/ui-switch.component";
@import "~@ng-select/ng-select/themes/material.theme.css";
